*{box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
    padding: 0px;
margin: 0px;
}

/* body{margin: 0px;
background-color: white;}
.dashboard{
    padding: 0px;
margin: 0px;
} */

/*=====================
Navigation
=======================*/
.navigation{
    width: 250px;
    height: auto;
    padding-bottom: 20px;
    box-shadow:1px 2px 3px rgba(0,0,0,0.4);
}
.navigation ul{
    color: aliceblue;
    margin-top: 50px;
}
.navigation ul li{
    margin: 10px 0px;
    padding: 20px 70px;
    background-color: black;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
}

.dash_logo{
    position: absolute;
    top: 15px;
    left: 40px;
}

.navigation ul li .category{
    width: 20px;
    height: 65px;
    background-color: purple;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 0;
    bottom: 1px;
 }
 .navigation .logo{
     margin: 20px 20px;
 }

/*================
Upgrade
=================*/
.upgrade{
    background-color: aliceblue;
    width: 216px;
    height: 226px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding-top: 100px;
    margin: 290px 15px 15px 15px;
}
.upgrade img{
    position: absolute;
    top: -45px;
    left: 40px;
    width: 130px;
    height: 140px;
    object-fit: cover;
}

.upgrade button{
    width: 150px;
    height: 40px;
    padding: 5px 25px;
    border: 0;
    background-color: #00838F;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 800;
    color: #fff ;
}

/*=================
Search
===================*/
.dashboard{
    display: flex;
}

.search nav{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 20px 60px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    background-color: #f4f4f4;
}
.main{
    width: 100%;
}
.profile_icon{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 50%;
}

.profile_icon img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin: 3px;
    justify-content: space-around;
}

.profile_icon input{
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    width: 70%;
}

/* ================
Chart
===================*/
.d_wrap{
    width: 325px;
    height: 170px;
    background-color: #f4f4f4;
    display: flex;
    position: relative;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    margin: 20px;
    border-radius: 5px;
}

.chart_box{
    display: flex;
    justify-content: space-around;
}
.daily{
    padding: 20px 20px;
    width: 145px;
    height: 145px;
    position: relative;
}

.monthly{
    padding: 20px 20px;
    width: 145px;
    height: 145px;
    position: relative;
}

.yearly{
    padding: 20px 20px;
    width: 145px;
    height: 145px;
    position: relative;
}

 .seven{
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(60% 40%);
}
.d_wrap p{
    font-size: 22px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 30px;
}
.d_wrap p span{
    font-weight: 600;
    font-size: 22px;
}


/* =============
Table
===============*/
.score{
    border-collapse: collapse;
    width: 95%;
    background-color: #f4f4f4;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    margin: 30px;
}
.score thead{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 800;
}
.score tbody{ 
    font-size: 12px;
}
.score tbody tr td{
    padding: 15px
}
.score thead tr td{
    padding: 10px;
}
table{
    border-radius: 10px;
}



/* ===========================
Notice
==============================*/
.notice{
    width: 95%;
    height: 220px;
    background-color: black;
    padding: 30px 30px;
    margin: 60px 20px 20px 20px;
    margin-left: 30px;
    border-radius: 10px;
}
.notice h2{
    color: white;
    position: relative;
    font-size: 40px;
    padding-left: 50px;
}
.notice p{
    color:white;
    padding-left: 50px;
}
.notice img{
    position: absolute;
    right: 70px;
    top: 747px;
}
.notice button{
    width: 150px;
    height: 40px;
    right: 40px;
    border: 0;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 800;
    color: red ;
}

.button_more{
    margin-right: 30px;
}